@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
}



#cabecalho {
    height: 8vh;
    background-color: grey;
    margin: 0px;
    border: 0px;
    padding: 0px;

}

.main{
    background-color: goldenrod;
    margin: 0px;
    border: 0px;
    padding: 0px;
}



.tituloDoSite{
    color: white;
    text-align: center;
    position: relative;
    top: 10px;
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    padding: 0px;
    margin: 0px;
    border: 0px;

    
}



.titulo2{
    
    color: white;
    position: relative;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    padding-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    border: 0;
    list-style:none;
    border: 0px;
    margin-top: 0px;

}
.lista1{
    color: white;
    position: relative;
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    padding-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    list-style:none;
    border: 0px;
    margin-bottom: 10px;
    bottom: 10px;
    right: 15px;
    text-align:center;
    
}

.video{
    position: relative;
    width: 700px;
    height: 400px;
    padding: 0;
    margin-left: 300px;
}

footer{
    height: 10vh;
}

.rodape img{
    height: 60px;
    width: 60px;
    position: relative;
    margin: 0px;
    border: 0px;
    padding-right: 10px;
    left: 610px;
    border-radius: 50%;
}